<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) <2023> <Snow>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<configuration scan="true" scanPeriod="10 seconds" debug="true">

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

	<!-- <property name="CUSTOM_CONSOLE_LOG_PATTERN" -->
	<!-- 		  value="${CUSTOM_CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-&#45;&#45;){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %clr([ %X{TRACE_ID} ]){yellow} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/> -->
	<property name="CUSTOM_CONSOLE_LOG_PATTERN"
			  value="${CUSTOM_CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %clr([ %X{TRACE_ID} ]){yellow} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>


	<appender name="CUSTOM_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CUSTOM_CONSOLE_LOG_PATTERN}</pattern>
			<charset>${CONSOLE_LOG_CHARSET}</charset>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CUSTOM_CONSOLE"/>
	</root>

	<logger name="com.code" level="DEBUG"/>

</configuration>
